/Encryptor/obj
/Encryptor/Properties
/Encryptor/bin
/.vs
/Decryptor/bin/Debug/Decryptor.exe
/Decryptor/bin/Debug/Decryptor.exe.config
/Decryptor/bin/Debug/Decryptor.pdb
/Decryptor/bin/Debug/Decryptor.vshost.exe
/Decryptor/bin/Debug/Decryptor.vshost.exe.config
/Decryptor/obj/Debug/App.g.cs
/Decryptor/obj/Debug/App.g.i.cs
/Decryptor/obj/Debug/Decryptor.Properties.Resources.resources
/Decryptor/obj/Debug/Decryptor.csproj.FileListAbsolute.txt
/Decryptor/obj/Debug/Decryptor.csproj.GenerateResource.Cache
/Decryptor/obj/Debug/Decryptor.exe
/Decryptor/obj/Debug/Decryptor.g.resources
/Decryptor/obj/Debug/Decryptor.pdb
/Decryptor/obj/Debug/DecryptorWindow.baml
/Decryptor/obj/Debug/DecryptorWindow.g.cs
/Decryptor/obj/Debug/DecryptorWindow.g.i.cs
/Decryptor/obj/Debug/Decryptor_MarkupCompile.cache
/Decryptor/obj/Debug/Decryptor_MarkupCompile.i.cache
/Decryptor/obj/Debug/Decryptor_MarkupCompile.lref
/Decryptor/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Decryptor/obj/Debug/MainWindow.g.i.cs
/Decryptor/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/Decryptor/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Decryptor/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Decryptor/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Decryptor/obj/Release/App.g.i.cs
/Decryptor/obj/Release/Decryptor_MarkupCompile.i.cache
/Decryptor/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Decryptor/obj/Release/MainWindow.g.i.cs
/Decryptor/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Decryptor/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Decryptor/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Decryptor/bin/Debug/Decryptor.vshost.exe.manifest
/Decryptor/obj/Debug/Decryptor.csprojResolveAssemblyReference.cache
/packages/Newtonsoft.Json.8.0.3/*.nupkg
/packages/Newtonsoft.Json.8.0.3/lib/net20/*.dll
/packages/Newtonsoft.Json.8.0.3/lib/net20/*.xml
/packages/Newtonsoft.Json.8.0.3/lib/net35/*.dll
/packages/Newtonsoft.Json.8.0.3/lib/net35/*.xml
/packages/Newtonsoft.Json.8.0.3/lib/net40/*.dll
/packages/Newtonsoft.Json.8.0.3/lib/net40/*.xml
/packages/Newtonsoft.Json.8.0.3/lib/net45/*.dll
/packages/Newtonsoft.Json.8.0.3/lib/net45/*.xml
/packages/Newtonsoft.Json.8.0.3/lib/portable-net40+sl5+wp80+win8+wpa81/*.dll
/packages/Newtonsoft.Json.8.0.3/lib/portable-net40+sl5+wp80+win8+wpa81/*.xml
/packages/Newtonsoft.Json.8.0.3/lib/portable-net45+wp80+win8+wpa81+dnxcore50/*.dll
/packages/Newtonsoft.Json.8.0.3/lib/portable-net45+wp80+win8+wpa81+dnxcore50/*.xml
/packages/Newtonsoft.Json.8.0.3/tools/*.ps1
/Decryptor/bin/Debug/Newtonsoft.Json.dll
/Decryptor/bin/Debug/Newtonsoft.Json.xml
/Decryptor/bin/Debug/test.json
/Decryptor/bin/x86/Debug/Decryptor.exe
/Decryptor/bin/x86/Debug/Decryptor.exe.config
/Decryptor/bin/x86/Debug/Decryptor.pdb
/Decryptor/bin/x86/Debug/Decryptor.vshost.exe
/Decryptor/bin/x86/Debug/Decryptor.vshost.exe.config
/Decryptor/bin/x86/Debug/Newtonsoft.Json.dll
/Decryptor/bin/x86/Debug/Newtonsoft.Json.xml
/Decryptor/bin/x86/Debug/test.json
/Decryptor/obj/x86/Debug/App.g.cs
/Decryptor/obj/x86/Debug/App.g.i.cs
/Decryptor/obj/x86/Debug/Decryptor.Properties.Resources.resources
/Decryptor/obj/x86/Debug/Decryptor.csproj.FileListAbsolute.txt
/Decryptor/obj/x86/Debug/Decryptor.csproj.GenerateResource.Cache
/Decryptor/obj/x86/Debug/Decryptor.csprojResolveAssemblyReference.cache
/Decryptor/obj/x86/Debug/Decryptor.exe
/Decryptor/obj/x86/Debug/Decryptor.g.resources
/Decryptor/obj/x86/Debug/Decryptor.pdb
/Decryptor/obj/x86/Debug/DecryptorWindow.baml
/Decryptor/obj/x86/Debug/DecryptorWindow.g.cs
/Decryptor/obj/x86/Debug/DecryptorWindow.g.i.cs
/Decryptor/obj/x86/Debug/Decryptor_MarkupCompile.cache
/Decryptor/obj/x86/Debug/Decryptor_MarkupCompile.i.cache
/Decryptor/obj/x86/Debug/Decryptor_MarkupCompile.i.lref
/Decryptor/obj/x86/Debug/Decryptor_MarkupCompile.lref
/Decryptor/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Decryptor/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
/Decryptor/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Decryptor/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Decryptor/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Decryptor/bin/x86/Debug/TCRYPT
/Decryptor/bin/x86/Debug/settings.json
/Decryptor/bin/x86/Debug/testFile.txt
/Decryptor/obj/x86/Debug/Decryptor.PasswordEntryForm.resources
/Encryptor/settings.json
